
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff8f0;
    color: #333;
}

header {
    background-color: #9c0505;
    color: white;
    padding: 1em;
    text-align: center;
}

h1, h2 {
    margin: 0.5em 0;
}

main {
    padding: 1em;
}

.item {
    background: #ffe0cc;
    margin: 0.5em 0;
    padding: 0.8em;
    border-radius: 10px;
    cursor: pointer;
}

.item:hover {
    background: #ffc099;
}

#carrinho, #fidelidade {
    margin-top: 2em;
}

button {
    margin-top: 1em;
    padding: 0.6em 1.2em;
    background: #e65c00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    background: #9c0505;
    color: white;
}
